body {
	background-color: #D65470;

}
h1 {
	color: white;
	text-align: center;
	margin: 100px;
}

h2 {
	text-align:center;
	color: white;
	margin-bottom: 0;
}

p {
	text-align: center;
	font-size: 18px;
	color: white;
}

a {
	text-decoration: none;
	color: purple;
}

a:hover {
	color: yellow;
}